<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="GobalTest">
    <classes>
      <class name="steamTests.LoginTest"/>
      <class name="steamTests.StoreTest"/>
  	  <class name="steamTests.SupportTest"/>	
	  <class name="steamTests.GenrePagesTest"/>
	  <class name="steamTests.ResultsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
